docs/n8n-workflow-example.json
{
  "name": "LIRYAL Chatbot Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "liryal-chatbot",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "liryal-chatbot"
    },
    {
      "parameters": {
        "jsCode": "// Procesar el mensaje recibido del chatbot web\nconst message = $json.message;\nconst history = $json.history || [];\nconst sessionId = $json.sessionId;\nconst source = $json.source;\n\n// Log para debug\nconsole.log('Mensaje recibido:', { message, sessionId, source });\n\n// Aquí puedes agregar tu lógica personalizada\n// Por ejemplo, determinar el tipo de consulta\n\nlet responseText = '';\nconst lowerMessage = message.toLowerCase();\n\nif (lowerMessage.includes('precio') || lowerMessage.includes('costo')) {\n  responseText = 'Nuestros servicios van desde $59/mes para telemedicina básica hasta $199/mes para la suite completa con IA diagnóstica. ¿Te gustaría conocer más detalles de algún plan específico?';\n} else if (lowerMessage.includes('telemedicina')) {\n  responseText = 'Nuestra plataforma de telemedicina permite consultas virtuales 24/7 con médicos certificados, historiales médicos digitales y seguimiento de tratamientos. ¿Hay algo específico que te gustaría saber?';\n} else if (lowerMessage.includes('ia') || lowerMessage.includes('inteligencia artificial')) {\n  responseText = 'Nuestra IA diagnóstica analiza síntomas, sugiere diagnósticos preliminares y ayuda en la toma de decisiones médicas. Todo respaldado por machine learning y base de datos médica actualizada.';\n} else if (lowerMessage.includes('contacto') || lowerMessage.includes('teléfono')) {\n  responseText = 'Puedes contactarnos en:\\n📞 +51 1 234-5678\\n📧 contacto@liryal.com\\n📍 Lima, Perú\\n\\n¿Prefieres que te programemos una llamada?';\n} else {\n  // Respuesta genérica\n  responseText = `Hola, soy el asistente de LIRYAL. Te ayudo con información sobre nuestros servicios de salud digital. Puedo contarte sobre:\n\n• Telemedicina y consultas virtuales\n• IA diagnóstica\n• Monitoreo de pacientes\n• Precios y planes\n\n¿Qué te interesa saber?`;\n}\n\nreturn {\n  originalMessage: message,\n  processedResponse: responseText,\n  sessionId: sessionId,\n  timestamp: new Date().toISOString(),\n  source: source\n};"
      },
      "id": "process-message",
      "name": "Process Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Opcional: Guardar conversación en base de datos\n// Aquí puedes agregar lógica para guardar en tu DB preferida\n\nconst data = $json;\n\n// Por ahora solo pasamos los datos\nreturn data;"
      },
      "id": "save-conversation",
      "name": "Save Conversation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ \n  {\n    \"response\": $json.processedResponse,\n    \"sources\": [\"LIRYAL Knowledge Base\"],\n    \"confidence\": 0.95,\n    \"sessionId\": $json.sessionId,\n    \"timestamp\": $json.timestamp\n  }\n}}"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Process Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Message": {
      "main": [
        [
          {
            "node": "Save Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Conversation": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-01-21T10:30:00.000Z",
      "updatedAt": "2025-01-21T10:30:00.000Z",
      "id": "liryal",
      "name": "LIRYAL"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-01-21T10:30:00.000Z",
  "versionId": "1"
}
